:root {
  --dark: #362944;
	--red: #c45d9f;
	--orange: #e39aac;
	--yellow: #f0dab1;
	--blue: #6461c2;
	--cyan: #2ba9b4;
	--green: #93d4b5;
	--white: #f0f6e8;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  background-color: var(--white);
}

a {
  color: var(--cyan);
}

a:visited {
  /* color: var(--green); */
}

.link-external {
  color: var(--blue);
}

body {
  display: grid;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

nav {
  grid-row: 2;
  grid-column: 1;
  margin-right: 3rem;
}

nav > ul {
  list-style: none;
  text-align: right;
}

main {
  width: max-content;
  max-width: 600px;
  grid-row: 2;
  grid-column: 2;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
}

p ul {
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

aside > p {
  color: var(--red);
}
